/*GLOBAL STYLES*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px; 
    padding:0px;
    background-color:#000099;
    font-family:'Source Sans Pro', Trebuchet MS, sans-serif;
    font-size:16px;
    /*color:#FFFFFF !important*/
    font-weight:600;
    
}
body {
    color:#b2b300;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#ccff66; /*GRANNY SMITH APPLE GREEN*/
}

p {
    line-height:533%;
    margin:15px 0px; 
}

b, strong {
    color:#ccff66;
}

a {
    color:#ccff66;
    text-decoration:none;
}

a:hover {
    color:#FF7900; /*THIS COLOR IS ORANGE*/
}

/*MAIN BODY STYLES*/

.mainWidth {
    overflow:hidden;
    margin:0px auto;
    width:1200px;
}


/*============HEADER STYLES=============*/

header {
    background-color :#000080;

}

#header {
    position:relative;
    padding:15px 0px;
}

#logo a {
    color:#FFFFCC;
}

#logo a:hover {
    color:#8DC63F;
}



/*--------MENU STYLES---------*/

#menu {
    position:absolute;
    top:20px;
    right:20px;
}
#menu ul {
    display:inline-block;
}

#menu li {
    display:inline;
    text-align:center;
    padding:0px 15px;
}

#menu li {
    content:|;
    font-weight:600;
    color:#ccff66;
}

.currentPage {
    color:#FF7900;
}

.currentPage:hover {
    color:#8DC63F;
}









/*BANNER STYLES*/

#bannerHome {
    overflow:hidden;
    padding:115px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url(../images/group.jpg) no-repeat center center #b30000;
    
}

.bannerText {
    font-size:6em;
    color:#FFFFFF;
    text-align:center;
    text-shadow:10px 10px 10px#000000;
    
}

















/*FOOTER STYLES*/